{% extends "base.html" %}

{% block content %}

    <h1>{{ gameinfo.gameName }}</h1>
    {#    {% url "info" gameinfo.gameCode %}#}
    <br>
    <form action="" method="post">
        {% csrf_token %}

        {{ gameinfo }}
{#        {% for field in gameinfo %}#}
{#            <div class="fieldWrapper">#}
{#                {{ field.label_tag }}:{{ field }}#}
{#                {{ field.errors }}#}
{#            </div>#}
{#        {% endfor %}#}
        <input type="submit" value="Vote"/>
    </form>

{% endblock %}